.lightbox {
	position: absolute;
	&__backdrop {
		position: fixed;
		z-index: 3;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: darken(fadeout(@root-background, 60%), 25%);
	}
	&__container {
		position: fixed;
		z-index: 4;
		top: 50%;
		left: 50%;
		display: flex;
		flex-direction: column;
		transform: translate(-50%, -50%);
		width: 300px;
		min-width: 100vw;
		max-width: 100vw;
		height: 300px;
		min-height: 100vh;
		max-height: 100vh;
		background: @root-background;
		border: 1px solid @border-color;
		border-radius: 3px;
		@media screen and (min-width: 500px) {
			min-height: 90vh;
			min-width: 90vw;
		}
	}
	&__title {
		flex-grow: 0;
		flex-shrink: 0;
		padding: 0 15px;
		border-bottom: 1px solid @border-color;
	}
	&__children {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 0 15px;
	}
	
}
.console-lightbox__preview,
.problem-lightbox__preview {
	flex-grow: 1;
	display: flex;
	width: 100%;
	overflow: hidden;
	.markdown {
		overflow: auto;
		padding: 15px;
		width: 50%;
	}
}
.console-lightbox__button-row,
.problem-lightbox__button-row {
	display: flex;
	margin-top: auto;
	justify-content: flex-end;
	padding: 15px 0;
}
.console-lightbox__button,
.problem-lightbox__button {
	width: 100%;
	flex-grow: 1;
	text-align: center;
	&--apply {
		flex-grow: 0;
		margin-right: auto;
	}
	&:disabled,
	&:hover:disabled {
		cursor: not-allowed;
		color: @hover-color!important;
	}
	&:not(:last-child):not(:first-child) {
		margin-right: 10px;
	}
	@media screen and (min-width: 500px) {
		width: auto;
		flex-grow: 0;
	}
}
.problem-lightbox__instructions {
	margin-top: 15px;
}
