@root-font-family : 'Roboto', 'Helvetica Neue', 'Helvetica', Arial;
@root-font-size   : 14px;
@root-line-height : 150%;
@root-color       : #444444;
@root-background  : #ffffff;
@header-bg        : @root-background;
@sidebar-bg       : #f2f5f6;
@sidebar-bg-sub   : @root-background;
@sidebar-bg-hl    : mix(@root-background, @active-color, 95%);

@code-background  : darken(@root-background, 2%);

@hover-color      : lighten(@root-color, 15%);
@border-color     : #e9eeef;
@active-color     : #42A5F5;

// messages
@error-color      : rgb(205, 63, 69);
@info-color       : @active-color;
@success-color    : #4AA54A;


// Layout
@headerHeight: 60px;

@navWidthSlim: 54px;
@navWidthMedium: 30%;
@navWidthWide: 17.5%;
