@syntax-theme: 'tomorrow-night';
@markdown-theme: 'markdown9';

@import 'common';

@root-color       : #fefefe;
@root-background  : #000000;

@border-color     : #333333;


@import 'components/index';
