.header {
	height: 55px;
	background: @header-bg;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	.logo,
	.toolbar {
		display: inline-block;
		height: 50px;
	}
	.logo {
		width: 17.5%;
		padding: 10px 4px;
		vertical-align: top;
		@media screen and (max-width: 900px) {
			width: 30%;
		}
		@media screen and (max-width: 500px) {
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			margin: 0;
			text-align: center;
			.svg-icon {
				display: none;
			}
		}
		a {
			color: inherit;
			text-decoration: none;
		}
	}

	.menu {
		display: none;
	}

	.toolbar {
		width: 82.5%;
		@media screen and (max-width: 900px) {
			width: 70%;
		}
		@media screen and (max-width: 500px) {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			bottom: 0;
			left: auto;
			width: auto;
			padding: 0;
		}
	}
}

.toolbar {
	text-align: right;
	padding: 7px 5px;
	.button {
		margin: 0 7.5px;
		padding: 5px;
		background: transparent;
		border: none;
		vertical-align: middle;
		border: 1px solid @border-color;
		color: @active-color;
		&:focus {
			outline: none;
		}
		.icon {
			margin: 0;
		}
	}
	@media screen and (max-width: 500px) {
		.button,
		.menu{
			margin: 0;
			height: 55px;
			border: none;
			.svg-icon{
				width: 45px;
				height: 45px;
			}
		}
		.menu {
			position: fixed;
			display: inline-block;
			top: 0;
			left: 0;
			margin: 0;
			cursor: pointer;
			user-select: none;
		}
	}
}

.logo {
	color: @root-color;
	margin-top: -5px;
	.icon{
		white-space: nowrap;
	}
	.svg-icon {
		width: 50px;
		height: 50px;
		fill: currentcolor;
	}
	.svg-text {
		line-height: 45px;
		margin-top: -7.5px;
	}
	.svg{
		fill: inherit;
		color: @active-color;
	}
}

.download-list {
	display: inline-block;
	white-space: nowrap;
	height: 40px;
	vertical-align: middle;
	padding-right: 15px;
	.download-select,
	.download-button {
		display: inline-block;
		max-width: 150px;
		height: 100%;
		border-radius: 0;
		border: 1px solid @border-color;
		background: transparent;
		overflow: hidden;
		vertical-align: top;
		&[disabled] {
			color: @border-color;
		}
	}
	.download-select {
		select {
			height: 100%;
			width: 100%;
			border: 0;
			background: transparent;
		}
	}
	span {
		width: 100%;
		overflow: hidden;
		line-height: 40px;
		padding: 0 15px;
		text-overflow: ellipsis;
	}
	@media screen and (max-width: 500px) {
		display: none;
	}
}
