.header {
	.logo,
	.toolbar {
		display: table-cell;
		height: 50px;
		padding: 0 15px;
		border-bottom: 1px solid @border-color;
	}

	.logo {
		width: 17.5%;
		vertical-align: middle;
		a {
			color: inherit;
			text-decoration: none;
		}
	}

	.toolbar {
		width: 82.5%;
	}
}

.toolbar {
	text-align: right;
	vertical-align: middle;

	.button {
		margin: 0 7.5px;
		padding: 5px;
		background: transparent;
		border: 1px solid @border-color;
		&:focus{
			outline: none;
		}
	}
}
