@import 'npm://normalize.less/normalize.less';

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	overflow: hidden;
}

/*
::-webkit-scrollbar {
	background: transparent;
	overflow: visible;
	width: 7px;
	height: 7px;
	background-color: @border-color;
}

::-webkit-scrollbar-thumb {
	background-color: @scrollbar-thumb-color;
	border: 1px solid @border-color;
}

::-webkit-scrollbar-thumb:horizontal {
	border-top-width: 0;
}

::-webkit-scrollbar-thumb:vertical {
	border-right-width: 0;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
*/
