@import 'npm://normalize.less/normalize.less';

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	overflow: hidden;
}

::-webkit-scrollbar {
	background: transparent;
	overflow: visible;
	width: 4px;
	height: 4px;
	background-color: fadeout(#999, 50%);
}

::-webkit-scrollbar-thumb {
	background-color: fadeout(@active-color, 50%);
	border: none;
}

::-webkit-scrollbar-thumb:horizontal {
	min-width: 4px;
}

::-webkit-scrollbar-thumb:vertical {
	min-height: 4px;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
