@import 'npm://normalize.less/normalize.less';

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
  	local('Roboto'),
    local('Roboto-Regular'),
    url(/static/fonts/roboto-v15/roboto-v15-normal.woff2) format('woff2'),
    url(/static/fonts/roboto-v15/roboto-v15-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
    url(/static/fonts/roboto-v15/roboto-v15-bold.woff2) format('woff2'),
    url(/static/fonts/roboto-v15/roboto-v15-bold.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	overflow: hidden;
}

/*
::-webkit-scrollbar {
	background: transparent;
	overflow: visible;
	width: 7px;
	height: 7px;
	background-color: @border-color;
}

::-webkit-scrollbar-thumb {
	background-color: @scrollbar-thumb-color;
	border: 1px solid @border-color;
}

::-webkit-scrollbar-thumb:horizontal {
	border-top-width: 0;
}

::-webkit-scrollbar-thumb:vertical {
	border-right-width: 0;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
*/
